{% extends "base.html" %}

{% block head_title %}About Us{% endblock %}

{% block content %}

<div class='row'>

<div class='col-sm-6 col-sm-offset-3'>
<div class="shadow1">
<div class="content">
<h1>About Us</h1>
<p>This is about us. This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.</p>
<p>This is about us. This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.</p>
<p>This is about us. This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.This is about us.</p>
</div>

</div>

</div>
</div>

{% endblock %}