<br/>
<br/>
<div class="footer" style="margin-top:700px">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid">
					<h3>Extras</h3>
					<p>This is the First Restaurant Recommending Bot. Now We Are Currently Working on Banglore Menu's But we have data over all the major Cities in the India. Soon The Bot Will Recommend All The Restaurant India.</p>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Recent Activity</h3>
					<p>
						Currently Working On The Menu For All The Restaurant All Over India
					</p>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Useful Info</h3>
					<ul>
						<li><a href="#">Login</a></li>
						<li><a href="#">ChatBot</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Form</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h3>Contact Us</h3>
					<p>The Zelda Teams ZWarriors.</p>
					<div class="footer-grid-address">
						<p>Tel.8608686047</p>
						<p>Email: <a class="email-link" href="mailto:sunderis10@gmail.com">Example.com</a></p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>


	<div class="clear"> </div>


	<div class="copy-right">
		<p>Copyright © 2015 Zelda. All rights reserved | Developed By <a href="#">Zwarriors</a></p>
	</div>