   {% load staticfiles %}

   <!-- Static navbar -->
<!-- <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
<ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Already have an account?</p></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
      <ul id="login-dp" class="dropdown-menu">
        <li>
           <div class="row">
              <div class="col-md-12">
                Login via
                <div class="social-buttons">
                  <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                  <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                </div>
                                or
                 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                    <div class="form-group">
                       <label class="sr-only" for="exampleInputEmail2">Email address</label>
                       <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                    </div>
                    <div class="form-group">
                       <label class="sr-only" for="exampleInputPassword2">Password</label>
                       <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                             <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                    </div>
                    <div class="form-group">
                       <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </div>
                    <div class="checkbox">
                       <label>
                       <input type="checkbox"> keep me logged-in
                       </label>
                    </div>
                 </form>
              </div>
              <div class="bottom text-center">
                New here ? <a href="#"><b>Join Us</b></a>
              </div>
           </div>
        </li>
      </ul>
        </li>
      </ul>
        </div>
      </div>
    </nav>
 -->

<div class="header">
    <div class="container">
      <div class="header-nav">
        <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" href="index.html"><i class="glyphicon glyphicon-cutlery" aria-hidden="true"></i><span>Z</span>elda</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="hvr-bounce-to-bottom {% ifequal request.path '/'%} active {% endifequal%}"><a href="{%url 'home' %}">Home</a></li>
              <li class="hvr-bounce-to-bottom {% ifequal request.path '/chatbot/'%} active {% endifequal%}"><a href="{%url 'chatbot'%}">ChatBot</a></li>
              <li class="hvr-bounce-to-bottom {% ifequal request.path '/about/'%} active {% endifequal%}"><a href="{%url 'about'%}">About Us</a></li>
              <li class="hvr-bounce-to-bottom {% ifequal request.path '/contact/'%} active {% endifequal%}"><a href="{% url 'contact' %}">Contact Us</a></li>
      {% if  request.user.is_authenticated %}
         <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>{{request.user}}</b> <span class="caret"></span></a>

        <ul id="login-dp" class="dropdown-menu">
           
          <li ><a href  = "{%url 'account_logout' %}">LogOut</a></li>

          </ul>

          </li>
          </ul>
      {% endif %}
      {%if not request.user.is_authenticated%}

          <li class="hvr-bounce-to-bottom {% ifequal request.path '/accounts/login/'%} active {% endifequal%}"><a href="{% url 'account_login'%}">Login</a></li>

        {%endif%}
        </ul>
      </div>
          </div><!-- /navbar-collapse -->
        </nav>
      </div>
    </div>
  </div>